<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <clear/>
    <add key="DBHost" value="192.168.50.153"/>
    <add key="DBUser" value="sa"/>
    <add key="DBPassword" value="123456"/>
    <add key="SqlCmdTimeOut" value="600"/>
    <!--单位： 秒-->
    <add key="DBName" value="netmis_en"/>
    <add key="server_host" value="https://www.yrdautolife.com/openapi"/>
    <!--此处必须https开头， 否则会报错-->
    <add key="img_server_host" value="https://www.yrdautolife.com/openapi"/>
    <!--此处必须https开头， 否则会报错-->
    <add key="debug" value="false"/>
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
