<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <clear/>
    <add key="DBHost" value="192.168.2.153"/>
    <add key="DBUser" value="sa"/>
    <add key="DBPassword" value="123456"/>
    <add key="DBName" value="netmis_en"/>
    <add key="server_host" value="http://www.xtaowu.com/api/maintain"/>
    <add key="default_img_url" value="http://qiniu.xtaowu.com/dev/mb/ber/202012/62830f82d63a4fac8122afde4a39d730"/>
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
