<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <clear/>
    <add key="DBHost" value="192.168.2.246"/>
    <add key="DBUser" value="sa"/>
    <add key="DBPassword" value="123456"/>
    <add key="DBName" value="netmis_en_3"/>
    <add key="companycode" value="310000011557"/>
    <add key="companypassword" value="spQx7xSQB6Ad"/>
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
</configuration>
