<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>

  <connectionStrings>
    <add name="netmis_db" connectionString="server=192.168.60.217,1433;uid=sa;pwd=123456;database=netmis_en;pooling=false"/>
  </connectionStrings>

  <appSettings>
    <!--上报地址-->
    <add key="server_url" value="http://jntest.1dacar.com/Repair/Add"/>
    <!--上报时间间隔 单位:毫秒-->
    <add key="upload_internal" value="10000"/>

    <!-- 修理厂名称-->
    <add key="factory_name" value="东湖汽修"/>
  </appSettings>

  <log4net>
    <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
    <!-- Set root logger level to ERROR and its appenders -->
    <root>
      <level value="ALL"/>
      <appender-ref ref="SysAppender"/>
    </root>
    <!-- Print only messages of level DEBUG or above in the packages -->
    <logger name="WebLogger">
      <level value="DEBUG"/>
    </logger>
    <appender name="SysAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="logs/"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="'upload-'yyyy-MM-dd'.log'"/>
      <param name="StaticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
    <appender name="consoleApp" type="log4net.Appender.ConsoleAppender,log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
  </log4net>
</configuration>
