<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <clear/>
    <add key="DBHost" value="192.168.2.167"/>
    <add key="DBUser" value="sa"/>
    <add key="DBPassword" value="123456"/>
    <add key="DBName" value="netmis_en"/>
    <add key="companycode" value="310000011557"/>
    <add key="companypassword" value="spQx7xSQB6Ad"/>
    <add key="error_random" value="常规保养"/>
    <add key="vin_random" value="LSVC6A47EN1605546,LBEEFAKB2XK213178,WAUAGD4L7CD123412,LFV3B28R393001234,LSVFD66R1A2197381,LS5A2DEW2DJ100505"/>
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
</configuration>
